.index{
    background-color:#39AEED;
}

.about{
    background-color:#39AEED;
}

.title{
    text-align: center;
    width: 100%;
    background-size: cover;
}

.title_text{
    color:black;
}

.bio{
    color:black;
    font-size: 20px;
    text-align: center;
}

.blog{
    color: white;
    background-color: #21759b;
    font-size:18px;
    font-weight:bold;
    background-size: 36px;
}

.twitter {
    color: white;
    background-color: #55acee;
    font-size:18px;
    font-weight:bold;
    background-size: 36px;
}

.instagram{
    color:white;
    background-color: #e4405f;
    font-size:18px;
    font-weight:bold;
    background-size: 36px;
}

.peing{
    color: white;
    background-color:#5eb9ba;
    font-size:18px;
    font-weight: bold;
    background-size: 36px;
}

.discord {
    color: white;
    background-color:#7289DA;
    font-size:18px;
    font-weight:bold;
    background-size: 36px;
}

.github{
    color: white;
    background-color: #333;
    font-size:18px;
    font-weight:bold;
    background-size: 36px;
}

.googleplus{
    color: white;
    background-color: #dd4b39;
    font-size:18px;
    font-weight:bold;
    background-size: 36px;
}

.LastChanged{
    font-size: 3px;
}