@font-face {
    font-family: 'LINE_Seed_Regular'; 
    src: url('../font/LINESeedJP_OTF_Rg.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'LINE_Seed_Bold'; 
    src: url('../font/LINESeedJP_OTF_Bd.woff2') format('woff2');
  }

h1 {
    font-family: 'LINE_Seed_Bold';
} 
h2 {
    font-family: 'LINE_Seed_Bold';
} 
p {
    font-family: 'LINE_Seed_Regular';
} 
img {
    max-width: 320px;
    height: 240px;
}
.about{
    background-color: rgb(158, 249, 255);
    font-family: 'LINE_Seed_Regular';
}

.title{
    text-align: center;
    width: 100%;
    background-size: cover;
}

.title_text{
    color:black;
    font-family: 'LINE_Seed_Bold';
}

.title_item{
    color:black;
    font-family: 'LINE_Seed_Bold';
}

.bio{
    color:black;
    font-size: 20px;
    text-align: center;
    font-family: 'LINE_Seed_Regular';
}

.aboutme{
    font-family: 'LINE_Seed_Regular';
}

.equipments{
    font-family: 'LINE_Seed_Regular';
}

.about_page{
    font-family: 'LINE_Seed_Regular';   
}

.box5 {
    position:relative;
    width:500px;
    height:auto;
    margin:auto;
  }
  .box5 a{
    font-family: 'LINE_Seed_Regular';

    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color:#000000;
    background-color:white;
  }

ul{
    text-align: left;
    list-style: none;
}
      
.LastChanged{
    font-size: 12px;
}