@font-face {
    font-family: 'LINE_Seed_Regular'; 
    src: url('../font/LINESeedJP_OTF_Rg.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'LINE_Seed_Bold'; 
    src: url('../font/LINESeedJP_OTF_Bd.woff2') format('woff2');
  }

h1 {
    font-family: 'LINE_Seed_Bold';
} 
h2 {
    font-family: 'LINE_Seed_Bold';
} 
p {
    font-family: 'LINE_Seed_Regular';
} 
img {
    max-width: 320px;
    height: 240px;
}
.about{
    background-color: rgb(158, 249, 255);
    font-family: 'LINE_Seed_Regular';
}

.title{
    text-align: center;
    width: 100%;
    background-size: cover;
}

.title_text{
    color:black;
    font-family: 'LINE_Seed_Bold';
}

.title_item{
    color:black;
    font-family: 'LINE_Seed_Bold';
}

.bio{
    color:black;
    font-size: 20px;
    text-align: center;
    font-family: 'LINE_Seed_Regular';
}

.aboutme{
    font-family: 'LINE_Seed_Regular';
}

.about_page{
    font-family: 'LINE_Seed_Regular';   
}

.topics ul {
    display: flex;
}

ul{
    display: flex;
    text-align: left;
    list-style: none;
    font-family: 'LINE_Seed_Regular';
    font-size: 24px;
}

li{
    text-align: center;
}
.LastChanged{
    font-size: 12px;
}