<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>HamaDroid.io</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148007073-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-148007073-1');
</script>

<!--title-->
<h1 id="title">hamachi_geek.io</h1>
<h3 id="bio">これがワイのホームペジや!!!</h3>

<!--pages-->
<a id="blog" href="https://hamachigadget.wordpress.com/">My Blog</a>
<a id="twitter" href="https://twitter.com/hamachi_geek">Twitter (@hamachi_geek)</a>

<!--aboutme-->
<h2 id="aboutme">あばうとみー</h2>
<p>大阪の高校生。</p>
<p>英語とバイクとガジェットと唐揚げとサイゼの全メニュー大好き。</p>

<!--contacts-->
<h2>Contacts</h2>
<a id="twitter1" href="https://twitter.com/hamachi_geek">Twitter (@hamachi_geek)</a>
<a id="instagram" href="https://www.instagram.com/hamachi183/">Instagram</a>
<p id="discord">Discord #7049</p>

