.body{
    background-color:#73dcff;
}

.title{
    text-align: center;
    font-size: 36px;
    width: 100%;
    background-size: cover;
}

.title_text{
    color:black;
}

.h1{
    text-align: center;
}

div{
    text-align: center;
}
.balmuda_words{
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(#e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783);
  }